.nav {
    background-color: #3157a7;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ccc;
}
